// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  color: $slate-500;
  
  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}