.card {
  background-color: $white;
  border-radius: 20px;
  padding: 16px;
  max-width: 320px;
  width: 100%;
  text-align: center;
  @include card-shadow;

  @media (min-width: $desktop) {
    padding: 16px;
    max-width: 320px;
  }

  &__image {
    margin-bottom: 24px;

    > img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
    }
  }

  &__content {
    padding: 0 16px 24px;
  }
  
  .content__title {
    font-size: 22px;
    font-weight: $fw-bold;
    color: $slate-900;
    line-height: 1.27;
    margin-bottom: 16px;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  .content__description {
    font-size: 15px;
    font-weight: $fw-normal;
    color: $slate-500;
    line-height: 1.4;
    margin: 0;
  }
}